@media screen and (max-width: 650px) {
  .workspace-container {
    .workspace-header {
      h2 {
        font-size: 2rem;
      }
    }
    .todo-container {
      padding: 0.5rem;
    }
    .todo-item {
      .todo-top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #todoInputText {
          inline-size: 150px;
          word-break: word;
        }

        .todo-button-container {
          display: flex;
          gap: 1rem;
          flex-direction: column;
        }
      }
      .todo-bottom-row {
        display: flex;
        justify-content: start;
        margin: 0;
      }
    }

    footer {
      button {
        font-size: 1.4rem;
      }

      .credits {
        font-size: 0.8rem;

        a {
          font-size: 0.8rem;
        }
      }
    }
  }

  #newTodoModal {
    .todo-modal-container {
      margin-bottom: 20em;
    }
  }

  .project-modal-container {
    margin-bottom: 20em;
  }
}

@media screen and (max-width: 1024px) {
  .app-container {
    display: grid;
    grid-template-columns: auto;
  }
  .side-bar-container {
    position: absolute;
    transform: translateX(-500px);
  }
  .workspace-container {
    width: 100dvw;
  }

  .workspace-header {
    display: flex;
    justify-content: space-between;

    #mobileMenuBtn {
      display: inline-block;
    }
  }
}
