/*NOTE: RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
}

body {
  font-family: 'Outfit';
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}
