@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Condensed+One&display=swap');
@import './resets.css';

:root {
  --ff-header: 'Special Gothic Condensed One';
  --important: #f26419;
  --white: #fbfaf8;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.side-bar-container {
  background-color: #33658a;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--white);
  z-index: 1;
}

.side-top {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 0.5rem 1rem;
  gap: 0.5rem;

  img {
    width: 48px;
  }

  h1 {
    font-family: var(--ff-header);
    font-size: 4.6rem;
    line-height: 1;
  }
}

.side-middle {
  overflow: scroll;
  display: grid;
  grid-template-rows: auto 1fr;

  .link-container {
    width: 100%;
    border-bottom: 2px solid var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .fast-link {
      display: flex;
      height: 50px;
      gap: 1rem;
      align-items: center;

      img {
        width: 24px;
      }

      button {
        font-size: 1.6rem;
        background-color: transparent;
        border: 2px solid transparent;
        color: var(--white);
        font-weight: 700;
        cursor: pointer;
        transition: all 0.06s ease-out;

        &:hover {
          color: #f6ae2d;
        }
      }
    }
  }

  .lists-container {
    padding: 1rem;
    overflow: scroll;

    .sidebar-project-card {
      display: grid;
      grid-template-columns: 1fr auto;
      margin-bottom: 2rem;

      .sidebar-left-container {
        display: flex;
        gap: 1rem;
      }
      img {
        width: 24px;
      }

      button {
        background-color: transparent;
        border: 2px solid transparent;
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.06s ease-out;

        &:hover {
          color: #f6ae2d;
        }
      }

      .side-list-remove {
        font-weight: 700;
        margin-left: 20px;
      }
    }
  }
}

.side-bottom {
  button {
    padding-bottom: 1.5rem;
    width: 100%;
    background-color: #33658a;
    border: transparent;
    color: var(--btn-grey);
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    transition: all 0.06s ease-out;

    &:hover {
      color: #f6ae2d;
    }

    span {
      font-weight: 700;
    }
  }
}

.workspace-container {
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: scroll;

  .default-display {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    color: #3f3f3f;
  }
}

.workspace-header {
  padding: 2rem;
  box-shadow: 2px 2px 1px 0px #1e2d2f66;

  h2 {
    line-height: 1;
    font-weight: 800;
    font-size: 3rem;
    color: #33658a;
  }
}

.todo-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.todo-item {
  box-shadow: 2px 2px 1px 0px #1e2d2f66;
  border-radius: 0.4rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 2rem;
  color: #1e2d2f;
}

.slideIn {
  animation: todoSlideIn 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) forwards;
}

.todo-top-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  column-gap: 1rem;

  img {
    cursor: pointer;
    width: 32px;
  }

  P {
    padding: 0.4rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #1e2d2f66;
  }
  .complete {
    text-decoration: line-through;
    opacity: 0.8;
  }

  button {
    background-color: #33658a;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.2rem 1rem;
    border: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.06s ease-out;

    &:hover {
      color: #f6ae2d;
    }
  }
}

.todo-bottom-row {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  margin-left: 48px;

  p {
    font-size: 1.1rem;
    font-weight: 500;
  }

  img {
    width: 24px;
  }

  .todo-due-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .todo-priority {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

footer {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: #33658a;
    color: var(--white);
    border: transparent;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 1px 0px #1e2d2f66;
    transition: all 0.06s ease-out;

    &:hover {
      color: #f6ae2d;
      transform: translate(2px, 2px);
      box-shadow: 0px 0px 1px 0px #1e2d2f66;
    }
  }

  .credits {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    p {
      color: #1e2d2f;
    }

    a {
      font-size: 1.2rem;
      font-weight: 700;
      color: #f6ae2d;

      &:hover {
        opacity: 0.6;
      }
    }

    img {
      width: 18px;
      height: 100%;
    }
  }
}

#newTodoModal {
  z-index: 10;
  border: none;

  .todo-modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f33;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .todo-modal-container {
    padding: 2rem;
    width: 400px;
    background-color: #fbfaf8;
    border-radius: 0.4rem;
    text-align: center;
    animation: modalSlideUp 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) forwards;

    .todo-modal-top {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      margin-bottom: 1rem;

      h3 {
        font-size: 2rem;
        color: #33658a;
        text-shadow: 1px 1px 1px #1e2d2f66;
        margin-bottom: 1rem;
      }

      .todo-modal-input {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        img {
          position: absolute;
          top: 8px;
          left: 40px;
          width: 20px;
        }
      }

      input {
        color: #1e2d2f;
        padding: 0.4rem;
        border-radius: 0.4rem;
        border: 2px solid transparent;

        &:focus {
          outline: none;
          border: 2px solid #33658a;
        }
      }
    }

    .todo-modal-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      color: #1e2d2f;
      margin-bottom: 1rem;

      #datePicker {
        border-radius: 0.4rem;
        border: 2px solid transparent;
        padding: 0.5rem;

        &:focus {
          outline: none;
          border: 2px solid #33658a;
        }
      }

      select {
        background-color: #fbfaf8;
        border: 2px solid transparent;
        border-radius: 0.4rem;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: #3f3f3f;

        &:focus {
          border: 2px solid #33658a;
        }
      }
    }

    .todo-modal-buttons button {
      background-color: #33658a;
      color: var(--white);
      font-size: 1.2rem;
      font-weight: 700;
      padding: 0.2rem 1rem;
      border: transparent;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: all 0.05s ease-out;

      &:hover {
        color: #f6ae2d;
      }
    }
  }
}

.project-modal {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1f1f1f33;
  display: flex;
  align-items: center;
  justify-content: center;

  .project-modal-container {
    padding: 2rem;
    width: 400px;
    background-color: #fbfaf8;
    border-radius: 0.4rem;
    text-align: center;
    animation: modalSlideUp 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) forwards;

    h3 {
      font-size: 2rem;
      color: #33658a;
      margin-bottom: 1rem;
      text-shadow: 1px 1px 1px #1e2d2f66;
    }

    .project-modal-top-row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1.5rem;

      input {
        position: relative;
        color: #1e2d2f;
        padding: 0.4rem;
        border-radius: 0.4rem;
        border: 2px solid transparent;

        &:focus {
          outline: none;
          border: 2px solid #33658a;
        }
      }
      img {
        position: absolute;
        left: 68px;
        z-index: 1;
        width: 20px;
      }
    }

    .project-modal-bottom-row {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      button {
        background-color: #33658a;
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 700;
        padding: 0.2rem 1rem;
        border: transparent;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: all 0.05s ease-out;

        &:hover {
          color: #f6ae2d;
        }
      }
    }
  }
}

@keyframes modalSlideUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes todoSlideIn {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
