@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Condensed+One&display=swap');

/*NOTE: RESETS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
}

body {
  font-family: 'Outfit';
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

:root {
  --ff-header: 'Special Gothic Condensed One';
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.side-bar-container {
  background-color: #33658a;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #f1f1f1;
}

.side-top {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 0.5rem 1rem;
  gap: 0.5rem;

  img {
    width: 48px;
  }

  h1 {
    font-family: var(--ff-header);
    font-size: 4.6rem;
    line-height: 1;
    text-shadow: 1px 1px 2px #1f1f1f66;
  }
}

.side-middle {
  display: grid;
  grid-template-rows: auto 1fr;

  .link-container {
    width: 100%;
    border-bottom: 2px solid #f1f1f1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    .fast-link {
      display: flex;
      height: 50px;
      gap: 0.8rem;
      align-items: center;
      cursor: pointer;

      img {
        width: 24px;
      }

      h3 {
        font-size: 1.6rem;
      }

      &:hover {
        color: #f6ae2d;
      }
    }
  }

  .lists-container {
    padding: 1rem;
    overflow: scroll;

    .side-list {
      display: flex;
      gap: 0.6rem;
      cursor: pointer;

      img {
        width: 28px;
      }

      h3 {
        font-size: 1.4rem;
      }

      &:hover {
        color: #f6ae2d;
      }
    }
  }
}

.side-bottom {
  button {
    width: 100%;
    padding: 0.4rem 1rem;
    background-color: #33658a;
    border: transparent;
    color: var(--btn-grey);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 0.4rem;

    span {
      font-weight: 700;
    }

    &:hover {
      color: #f6ae2d;
    }
  }
}

.workspace-container {
  background-color: #f1f1f1;
  display: grid;
  grid-template-rows: auto 1fr;
}

.workspace-header {
  padding: 2rem;
  h2 {
    line-height: 1;
    font-weight: 800;
    font-size: 2rem;
    color: #3f3f3f;
  }
}
