@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Condensed+One&display=swap');
@import './resets.css';

:root {
  --ff-header: 'Special Gothic Condensed One';
  --important: #f26419;
  --white: #fbfaf8;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.side-bar-container {
  background-color: #33658a;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--white);
  z-index: 1;
}

.side-top {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 0.5rem 1rem;
  gap: 0.5rem;

  img {
    width: 48px;
  }

  h1 {
    font-family: var(--ff-header);
    font-size: 4.6rem;
    line-height: 1;
  }
}

.side-middle {
  display: grid;
  grid-template-rows: auto 1fr;

  .link-container {
    width: 100%;
    border-bottom: 2px solid var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .fast-link {
      display: flex;
      height: 50px;
      gap: 1rem;
      align-items: center;

      img {
        width: 24px;
      }

      button {
        font-size: 1.6rem;
        background-color: transparent;
        border: 2px solid transparent;
        color: var(--white);
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: #f6ae2d;
        }
      }
    }
  }

  .lists-container {
    padding: 1rem;
    overflow: scroll;

    .side-list {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 24px;
      }

      button {
        background-color: transparent;
        border: 2px solid transparent;
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: #f6ae2d;
        }
      }

      .side-list-remove {
        font-weight: 700;
        margin-left: 20px;
      }
    }
  }
}

.side-bottom {
  button {
    padding-bottom: 1.5rem;
    width: 100%;
    background-color: #33658a;
    border: transparent;
    color: var(--btn-grey);
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    &:hover {
      color: #f6ae2d;
    }

    span {
      font-weight: 700;
    }
  }
}

.workspace-container {
  background-color: var(--white);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.workspace-header {
  padding: 2rem;
  box-shadow: 2px 2px 1px 0px #1e2d2f66;

  h2 {
    line-height: 1;
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #1e2d2f;
    color: #33658a;
  }
}

.todo-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.todo-item {
  box-shadow: 2px 2px 1px 0px #1e2d2f66;
  border-radius: 0.4rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 2rem;
  color: #1e2d2f;
}

.todo-top-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  column-gap: 1rem;

  img {
    cursor: pointer;
    width: 32px;
  }

  P {
    padding: 0.4rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #1e2d2f66;
  }

  button {
    background-color: #33658a;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.2rem 1rem;
    border: transparent;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 1px 0px #1e2d2f66;
    cursor: pointer;
    transition: all 0.05s ease-out;

    &:hover {
      color: #f6ae2d;
    }
  }
}

.todo-bottom-row {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  margin-left: 42px;

  p {
    font-size: 1.1rem;
    font-weight: 500;
  }

  img {
    width: 24px;
  }

  .todo-due-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .todo-priority {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

footer {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: #33658a;
    color: var(--white);
    border: transparent;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 1px 0px #1e2d2f66;

    &:hover {
      color: #f6ae2d;
    }
  }

  .credits {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    p {
      color: #1e2d2f;
    }

    a {
      font-size: 1.2rem;
      font-weight: 700;
      color: #f6ae2d;

      &:hover {
        opacity: 0.6;
      }
    }

    img {
      width: 18px;
      height: 100%;
    }
  }
}
